<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="connectionstring" value="Data Source=cat.db;" />
        <add key="discordtoken" value="" />
        <add key="caturl" value="https://tenor.com/view/delay-cat-gif-21402724" />
    </appSettings>
</configuration>
